cycler==0.10.0
Django==1.11.15
django-ranged-response==0.2.0
django-simple-captcha==0.5.12
django-simpleui==3.9.1
dukpy==0.2.2
future==0.18.2
intel-openmp==2019.0
javascripthon==0.11
jieba==0.42.1
Jinja2==2.11.1
jupyter-echarts-pypkg==0.1.1
kiwisolver==1.2.0
lml==0.0.2
macropy3==1.1.0b2
MarkupSafe==1.1.1
#matplotlib==3.2.1
#matplotlib
mkl==2019.0
mysql-connector==2.2.9
#mysqlclient==1.4.6
#mysqlclient
#numpy==1.26.2
#pandas==1.0.3
#pandas
pandocfilters==1.4.2
parse==1.12.1
parso==0.5.1
pickleshare==0.7.5
#Pillow==7.1.0
#Pillow
plac==0.9.6
pluggy==0.6.0
prettytable==0.7.2
prometheus-client==0.7.1
pyecharts==0.5.5
pyecharts-javascripthon==0.0.6
pyecharts-jupyter-installer==0.0.3
PyMySQL==0.9.3
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
#scipy==1.2.0
#scipy
six==1.14.0

