<html>  
<head>  
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
<title>pagejump</title>  

<link href="/static/css/register.css" rel="stylesheet">
<style>a{TEXT-DECORATION:none}</style>
<script type="text/javascript">       
function countDown(secs,surl){           
 var jumpTo = document.getElementById('jumpTo');  
 jumpTo.innerHTML=secs;    
 if(--secs>0){       
     setTimeout("countDown("+secs+",'"+surl+"')",1000);       
     }       
 else{         
     location.href=surl;       
     -ma  
     }       
 }       
</script>  
</head>  
  
<body id="jump_bd">  
<center>
<div>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
<a href="/login" style='color:blue;Font-size:24px'><span id="jumpTo">3</span>S后自动跳转至登录页，若未跳转请点击此处！</a>
</div>
</center>
<script type="text/javascript">  
    countDown(3,'/login');  
</script>    
</body>  
</html>  