{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}<link href="/static/css/login.css" rel="stylesheet">{% endblock %}
{% block title %}注册{% endblock %}
{% block content %}
<body class="signin">
   <div class="signinpanel">
        <div class="row">
            <div class="col-sm-7">
                <div class="signin-info">
                    <div class="logopanel m-b">
                        <h1>xxx</h1>
                    </div>
                    <div class="m-b"></div>


                </div>
            </div>
            <div class="col-sm-5">
            <form class='form-register' action="/register/" method="post">
              {% if message %}
                  <div class="alert alert-warning">{{ message }}</div>
              {% endif %}
              {% csrf_token %}
              <h2 class="text-center">欢迎注册</h2>
            <br>
               <div class="form-group">
                  {{ register_form.user_role.label_tag }}
                  {{ register_form.user_role}}
              </div>
              <div class="form-group">
                  {{ register_form.username.label_tag }}
                  {{ register_form.username}}
              </div>
               <div class="form-group">
                  {{ register_form.nickname.label_tag }}
                  {{ register_form.nickname}}
              </div>
              <div class="form-group">
                  {{ register_form.password1.label_tag }}
                  {{ register_form.password1 }}
              </div>
              <div class="form-group">
                  {{ register_form.password2.label_tag }}
                  {{ register_form.password2 }}
              </div>
             <div class="form-group">
                  {{ register_form.phone.label_tag }}
                  {{ register_form.phone }}
              </div>
              <div class="form-group">
                  {{ register_form.sex.label_tag }}
                  {{ register_form.sex }}
              </div>

              <div class="form-group">
                  {{ register_form.captcha.errors }}
                  {{ register_form.captcha.label_tag }}
                  {{ register_form.captcha }}
              </div>
              <button type="submit" class="btn btn-success btn-block">注册</button>
           </form>
                 <br>
                    <br>
                    <strong>已有账号点击 <a href="/login">立即登录&raquo;</a></strong>
            </div>
        </div>
        <div class="signup-footer">
            <div class="pull-left" style="position:absolute;bottom:0px;">
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All Rights Reserved. gwfy
            </div>
        </div>
    </div>
</body>
{% endblock %}
{% block script %}
    <!-- iCheck -->
    <script src="/static/js/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
    <script>if(window.top !== window.self){ window.top.location = window.location;}</script>
{% endblock %}